<h1>Login</h1>

<h3>Login with Twitter of Facebook</h3>
<button ng-click="login.authenticate('facebook')">Sign in with Facebook</button>
<button ng-click="login.authenticate('twitter')">Sign in with Twitter</button>

<h3>Login with Email</h3>

<form ng-submit="login.submit()">
  Email
  <input type="text" name="email" ng-model="login.credentials.email">
  Password
  <input type="password" name="password" ng-model="login.credentials.password">

  <button>Login</button>
</form>

<a ui-sref="register">Not a user yet? Register Here</a>