<div id="register-page">

<h1>Welcome to Travelly!</h1>

  <form name="registerFrom" ng-submit="register.submit()" novalidate>

    <div class="form-group m-x-auto">
      <label>Username</label>
      <input type="text" name="username" ng-model="register.user.username" class="form-control" ng-required="true" ng-minlength="3">
      <p ng-show="registerFrom.username.$invalid">Your User Name has to be at least 3 digits long</p>
    </div>

    <div class="form-group m-x-auto">
      <label>Email</label>
      <input type="email" name="email" ng-model="register.user.email" class="form-control" ng-required="true">
      <p ng-show="registerFrom.email.$invalid">You have to add a valid email</p>
    </div>

    <div class="form-group m-x-auto">
      <label>Profile Picture</label>
      <input type="file" file name="image" ng-model="register.user.profilePicture" placeholder="Image">
    </div>

    <div class="form-group m-x-auto">
      <label>Password</label>
      <input type="password" name="password" ng-model="register.user.password" class="form-control" ng-required="true" ng-minlength="6">
      <p ng-show="registerFrom.password.$invalid">The password has to be at least 6 digits long</p>
    </div>

    <div class="form-group m-x-auto">
      <label>Password Confirmation</label>
      <input type="password" name="passwordConfirmation" ng-model="register.user.passwordConfirmation" class="form-control" ng-required="true">
    </div>

    <input class="btn btn-outline-danger" type="submit" value="Register">

  </form>

  <a ui-sref="login">Already a User? Login Here!</a>
</div>