<div id="search-page" class="m-x-auto">
  <form ng-submit="search.search()">
    <div class="col-lg-6">
      <div id="search-form" class="form-group m-x-auto">
        <label>Your Budget</label>
        <input type="number" ng-model="search.budget" class="form-control" required>
      </div>

      <div class="form-group m-x-auto">
        <label>From which airport are you flight from?</label>
        <select ng-model="search.location" class="form-control" ng-options="airport.iataCode as airport.name for airport in search.airports | orderBy:'name'" required>
        </select>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="form-group m-x-auto"> 
        <label>Fly Out</label>
        <label>From</label>
        <input type="date" value="departureDate" ng-model="search.departureDate" class="form-control" required>
      </div>

      <div class="form-group m-x-auto">
        <label>Fly Back</label>
        <input type="date" value="return" ng-model="search.returnDate" class="form-control" required>
      </div>
    </div>

    <div class="row">
      <div class="card col-md-3" ng-repeat="theme in search.themes" ng-click="search.selectTheme(theme)">
        <img class="card-img-top img-fluid" ng-src="{{ theme.image }}" alt="Card image">
        <div class="card-block">
          <h4 class="card-title">{{ theme.name }}</h4>
        </div>
      </div>
    </div>

    <button class="btn btn-outline-danger">SEARCH</button>

  </form>
</div>