<div id="search-page">
  Budget:
  <br>
  <form>
    <input type="number" ng-model="register.user.budget">
  </form>
  <br>
  Your Location:
  <br>
  <div id="locationField" class="m-x-auto">
    <input id="autocomplete" placeholder="Enter your address" onFocus="initAutocomplete()" type="text"></input>
  </div>
  <br>
  When you want to travel?
  <div id="travel-dates">
    From:
    <input type="date" value="departureDate">
    To:
    <input type="date" value="returnDate">
  </div>
  <br>
  <div class="card-deck-wrapper m-x-auto">
    <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Beach</h4>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Historic</h4>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Mountains</h4>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Romantic</h4>
        </div>
      </div>
    </div>
    <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Outdoor</h4>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Outdoor</h4>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Skiing</h4>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Theme Park</h4>
        </div>
      </div>
    </div>
    <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Shopping</h4>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Natural Parks</h4>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Disney</h4>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Carribean</h4>
        </div>
      </div>
    </div>
  </div>
  <br>
  <a ui-sref="results">SEARCH</a>
</div>



<!-- <button onFocus="getFlights()">SkyScanner</button> -->
